<%- include('partials/header.ejs') %>
<div class="row">
    <div class="col-10 col-sm-5 col-md-4 col-lg-4 mx-auto">
      <div class="row mt-5">
        <img src="/avatars/rubicamp.png" class="img-fluid mx-auto"/>
      </div>
      <div class="row">
        <h3 class="text-center">Please sign up</h3>
        <form action="/register" method="post">
          <div class="card signin mx-auto mb-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <input type="email" class="form-control py-2" name="email" id="email" placeholder="Email address" required />
              </li>
              <li class="list-group-item">
                <input type="password" class="form-control py-2" name="password" id="password" placeholder="Password" required />
              </li>
              <li class="list-group-item">
                <input type="password" class="form-control py-2" name="repassword" id="repassword" placeholder="Retype Password" required />
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-primary w-100 py-2 fs-5 fw-medium">Sign up</button>
        </form>
        <p class="text-center fs-6 fw-medium">Have a account? Please <a href="/">Sign in</a></p>
      </div>
      <p class="text-muted text-center fs-6 mt-5">©️ 2017-2024</p>
      <%- include('partials/alert.ejs') %>
    </div>
  </div>
    <%- include('partials/footer.ejs') %>