<%- include('partials/header.ejs') %>
    <form action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input class="form-control" type="file" name="avatar" />
        <button type='submit' class="btn btn-success">upload</button>
    </form>     
    <%- include('partials/footer.ejs') %>